.genre-section[b-q0uvjowmxc] {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.genre-section h4[b-q0uvjowmxc] {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.movies-grid[b-q0uvjowmxc] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px; 
    padding: 50px;
}

.movie-item[b-q0uvjowmxc] {
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.movie-item:hover[b-q0uvjowmxc] {
    transform: scale(1.05); 
}

.movie-item img[b-q0uvjowmxc] {
    width: 100%; 
    max-width: 250px; 
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.genre-section button[b-q0uvjowmxc]{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .movie-item[b-q0uvjowmxc] {
        justify-content: center; 
        max-width: 90%;        
        margin: -10px;      
    }

    .movie-poster[b-q0uvjowmxc] {
        max-width: 100%;       
        margin-bottom: 10px;  
    }

    .movie-item button[b-q0uvjowmxc] {
        width: 100%;         
    }
    
}



