.movie-details-cover[b-ppw9tb1rus] {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}


.movie-details-grid[b-ppw9tb1rus] {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.movie-poster-container img[b-ppw9tb1rus] {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.movie-info h3[b-ppw9tb1rus] {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info p[b-ppw9tb1rus] {
    font-size: 16px;
    margin-bottom: 8px;
}

.actors-section[b-ppw9tb1rus] {
    background-color: #f9f9f9; 
    padding: 20px;            
    border-radius: 5px;       
    margin-bottom: 20px;      
}
.actors-row[b-ppw9tb1rus] {
    display: flex;
    flex-wrap: wrap;          
    gap: 15px;                
}
.actor-item[b-ppw9tb1rus] {
    text-align: center;        
    background-color: #fff;    
    padding: 10px;             
    border-radius: 5px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px;              
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.actor-item:hover[b-ppw9tb1rus] {
    transform: scale(1.05);    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.actor-item img[b-ppw9tb1rus] {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}

.actor-item p[b-ppw9tb1rus] {
    font-size: 14px;
}

.crew-container[b-ppw9tb1rus] {
    background-color: #f9f9f9; 
    padding: 20px;            
    border-radius: 5px;       
    margin-bottom: 20px;      
}
.crew-row[b-ppw9tb1rus] {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.crew-item[b-ppw9tb1rus] {
    text-align: center;        
    background-color: #fff;    
    padding: 10px;             
    border-radius: 5px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px;              
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.crew-item:hover[b-ppw9tb1rus] {
    transform: scale(1.05);    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.crew-item img[b-ppw9tb1rus] {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}

.crew-item p[b-ppw9tb1rus] {
    font-size: 14px;
}

.crewandcast-btn[b-ppw9tb1rus] {
    background-color: #5095df;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishlist-btn[b-ppw9tb1rus] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.green-btn[b-ppw9tb1rus] {
    background-color: #28a745; 
    color: white;
}

.green-btn:hover[b-ppw9tb1rus] {
    background-color: #218838; 
    transform: scale(1.05); 
}

.red-btn[b-ppw9tb1rus] {
    background-color: #dc3545; 
    color: white;
}

.red-btn:hover[b-ppw9tb1rus] {
    background-color: #c82333; 
    transform: scale(1.05); 
}

.video-container[b-ppw9tb1rus] {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 20px 0;
}

.video-item[b-ppw9tb1rus] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe[b-ppw9tb1rus] {
    width: 100%;
    height: 100%;
    border: 0;
}

.no-trailer-message[b-ppw9tb1rus] {
    text-align: center; 
    font-size: 2rem;    
    color: white;       
    margin: 20px 0;     
}

