.movie-details-cover {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}


.movie-details-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.movie-poster-container img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.movie-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info p {
    font-size: 16px;
    margin-bottom: 8px;
}

.actors-container {
    margin-top: 40px;
}

.actors-row {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    flex-wrap: wrap; /* Wrap actors if more than 4 */
}

.actor-item {
    text-align: center;
    width: 150px;
    flex-shrink: 0; /* Prevent shrinking */
}

.actor-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 30%;
    margin-bottom: 10px;
}

.actor-item p {
    font-size: 14px;
}
