@page "/moviegenrepage"
@using CodeTestWexo.Interfaces
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IGenreRepository GenreRepository

<h3>Movie genres</h3>

@if (isLoading)
{
    <p>Loading genres and movies...</p>
}
else
{
    @foreach (var genre in genres)
    {
        <div class="genre-section">
            <h4>
                @genre.Name
            </h4>
            <button @onclick="() => NavigateToGenre(genre.Id)">View all movies</button>
            <p>Total Movies: @movieCountsPrGenre[genre.Id]</p>

            <div class="movies-grid">
                @foreach (var movie in genreMovies[genre.Id].Take(5))
                {
                    <div class="movie-item" @onclick="() => NavigateToMovieDetails(movie.Id)">
                        <p>@movie.Title</p>

                        <!-- Display Movie Poster Image -->
                        @if (!string.IsNullOrEmpty(movie.PosterPath))
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w500{movie.PosterPath}")" style="max-width: 200px; margin-bottom: 10px;"/>
                        }
                    </div>
                }
            </div>
        </div>
    }
}