.random-movie-picker-container {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filters select,
.filters input {
    padding: 8px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: white;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.movie-details {
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.movie-details h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.movie-image-container {
    margin-bottom: 15px;
}

.movie-image-container img {
    max-width: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.movie-image-container img:hover {
    transform: scale(1.05);
}

.movie-details p {
    font-size: 1rem;
    line-height: 1.5;
    color: #d3d3d3;
}

p {
    font-size: 1rem;
    color: white;
}
