.movie-details-cover {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}


.movie-details-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.movie-poster-container img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}

.movie-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info p {
    font-size: 16px;
    margin-bottom: 8px;
}

.actors-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.actors-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.actor-item {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actor-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.actor-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}

.actor-item p {
    font-size: 10px;
}

.crews-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.crew-item {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.crew-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.crew-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 10px;
}

.crew-item p {
    font-size: 10px;
}

.crewandcast-btn {
    background-color: #5095df;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishlist-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.green-btn {
    background-color: #28a745;
    color: white;
}

.green-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.red-btn {
    background-color: #dc3545;
    color: white;
}

.red-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 20px 0;
}

.video-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.no-trailer-message {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 20px 0;
}

