@page "/trendingserie"
@using CodeTestWexo.Interfaces
@using CodeTestWexo.Models.Series
@rendermode InteractiveServer
@inject ISerieRepository serieRepository
@inject NavigationManager NavigationManager

<h3>Trending series</h3>

@if (isLoading || movies?.Results == null)
{
    <p>Loading...</p>
}
else
{
    <div class="movies-grid">
        @foreach (var movie in movies.Results)
        {
            <div class="movie-item" @onclick="() => NavigateToMovieDetails(movie.Id)">
                <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="@movie.Title"/>
                <p>@movie.Title</p>
            </div>
        }
    </div>
}

@code
{
    private SerieTrendingResponse? movies;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadMovies();
    }

    private async Task LoadMovies()
    {
        // Fetch movie discover data
        movies = await serieRepository.GetTrendingSeriesAsync();

        // Stop loading once movies are fetched
        isLoading = false;

        // Ensure UI is updated after data load
        StateHasChanged();
    }

    private void NavigateToMovieDetails(int serieId)
    {
        //Redirecting to detailspage
        NavigationManager.NavigateTo($"/serie/{serieId}");
    }
}
