@page "/wishlist"
@using CodeTestWexo.Components.Models
@using CodeTestWexo.Interfaces
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IMovieService MovieService
@inject NavigationManager Navigation

<h3>Your Wishlist</h3>

<div class="wishlist-container">
    @if (wishlist == null || !wishlist.Any())
    {
        <p>Add something to your wishlist...</p>
    }
    else 
    {
        @foreach (var movie in wishlist)
        {
            <div class="wishlist-item">
                <a @onclick="() => RedirectToMoviePage(movie.Id)">
                    <img src="@($"https://image.tmdb.org/t/p/w200{movie.PosterPath}")" alt="@movie.Title" class="wishlist-poster"/>
                </a>
                <div class="movie-details">
                    <p>@movie.Title</p>
                    <button @onclick="() => RemoveFromWishlist(movie.Id)">Remove from Wishlist</button>
                </div>
            </div>
        }
    }
</div>
