<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Movie database</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-film" aria-hidden="true"></span> Trending
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moviegenrepage">
                <span class="bi bi-plus" aria-hidden="true"></span> Movie genre page
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seriegenrepage">
                <span class="bi bi-plus" aria-hidden="true"></span> Serie genre page
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wishlist">
                <span class="bi bi-heart-fill" aria-hidden="true"></span> My wishlist
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="random-movie-picker">
                <span class="bi bi-dice-6-fill" aria-hidden="true"></span> Random movie picker
            </NavLink>
        </div>
       
    </nav>
</div>